# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "17e86ad9a341ad67fd7e1a600fc4f828"
name = "whatsapp-react"
application_url = "https://whatsapp-mern-web-app.onrender.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://whatsapp-mern-backend-sidn.onrender.com/api/shopify/callback", "https://whatsapp-mern-backend-sidn.onrender.com/api/shopify/webhook"
]
